
<% if session[:user_id] %>

<div class="post-container form-group">

<h1>Post your blog!</h1>
<form class="blog-form" action="/" method='post' enctype="multipart/form-data">
  <input type='text' class='form-control blog-title-content' name='blog[title]' placeholder='Enter your blog’s title…'><br>
  <textarea class='blog-text-content form-control' name='blog[content]' rows='8' cols='80' placeholder="What's in your mind"></textarea>
  <br>
  <input class='form-control-file blog-img-upl' id="exampleFormControlFile1" type="file" name="image" accept="image/*">


  <br>
  <input type='submit' value='Post' >

</form>
</div>

<% else %>
<div class="home-image">
  <h1 class='main-header'>BitBlog Tech Blog</h1>
</div>
<!-- <span class='feature-box'>Featured</span> -->

<% end %>
