<%if session[:user_id] %>
<% require 'erb' %>
<% @blogs.each do |blog| %>
<article class="blog-container">
  <div class="blog-title">
  <h3><%= ERB::Util.html_escape(blog.title) %></h3>
</div>
<div class="blog-content">

  <p><%= ERB::Util.html_escape(blog.content)%></p>
</div>
<img class='blog-img img-thumbnail' src="/uploads/<%=blog.image_url%>" alt=" ">
<br>
  <small>By <%= blog.created_by %></small>
  <%if blog.user_id == session[:user_id] %>

  <form class="" action="/delete_post" method="post">
    <input type="submit" name="" value="">
  </form>

  <%end%>
</article>
  <% end %>

<%else%>
<%redirect "/"%>
<%end%>
