

<% @blogs.each do |blog| %>

  <% if blog.user_id == session[:user_id] %>
  <% require 'erb' %>
  <article class="my-blogs">
    <div class="">
    <h3><%=ERB::Util.html_escape(blog.title)%></h3>
    </div>
    <div class="">

  <p><%=ERB::Util.html_escape(blog.content)%></p>
  <img src='uploads/<%=blog.image_url%>' alt=" ">
  <br>
  <small><%=blog.created_by%></small>
  </div>
</article>
  <%end%>

<%end%>
