

<% if session[:user_id] %>

<div class="settings-container">
  <h1 class='settings-header'>Settings</h1>
<div class="delete-user-container">

<form class="" action="/delete_user" method="post">
  <button type="submit" class="btn btn-danger" value=''>Delete My Profile</button>
</form>
</div>
</div>

<%else%>

<%redirect "/" %>

<%end%>
