<div class="register-form">

    <h1 class='register-header'>Signup</h1>

    <section class='register-input-area'>

  <form action="/signup" method="post">
    <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" name='first_name' class="form-control" id="inputEmail4" placeholder="First Name" required>
    </div>
    <div class="form-group col-md-6">
      <input type="text" name='last_name' class="form-control" id="inputPassword4" placeholder="Last Name" required>
    </div>
  </div>
  <div class="form-group email-area">
    <input type="email" class="form-control" name="email" placeholder='Email' required><br>

    <input type="email" class="form-control" placeholder='Confirm Email' required><br>

    <input type="password" class="form-control" name="password" placeholder='Password' required><br>

    <input type="password" class="form-control" placeholder='Confirm Password' required><br>

    <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <p><strong>Birthday:</strong></p>
      <input class='form-control' type="date" name="birthday">
    </div>
    <br>
  </div>

    <button type="submit" class="btn btn-outline-success">Submit</button>
</form>
</section>
</div>
